.right
{   top:auto;
    right: 16px;
    color: cyan;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  p{
      font-style: verdana;
      font-size: 25px;
      color:seashell;
  }

/* .aboutus{
    background-image: url('assets/aboutusback.jpg');
} */