
      <nav class="navbar" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <a href="#" class="logo"><i class="fas fa-hamburger"></i>KitchenStory</a>    
            <a class="active" [routerLink]="['/home']">Home</a>
        
        
            <a class="active" [routerLink]="['/Fooditems']">Food Items</a>
        

            <a class="active" [routerLink]="['/login']">Register/Login</a>
          
          
            <a class="active"[routerLink]="['/about']">About Us</a>


            <a class="active" [routerLink]="['/admin']">Admin</a>
      </nav>