<div align="right">
    <a [routerLink]="['../home']" class="btn btn-info" style="margin: 12px;">Logout</a>
</div>

<div class="container">
    <p>Admin</p>
    <div class="cart_icon">
        <i class="fa fa-shield"></i>
        <div class="btn1">
            <a [routerLink]="['../adpwd']" class="btn btn-info" style="margin: 12px;">Change password</a>
            <a [routerLink]="['../addbreakfast']" class="btn btn-info" style="margin: 12px;">To view and change Breakfast</a>
            <a [routerLink]="['../addsnacks']" class="btn btn-info" style="margin: 12px;">To view and change Snacks</a>
            <a [routerLink]="['../addthali']" class="btn btn-info" style="margin: 12px;">To view and change Thali</a>
        </div>
    </div>
</div>
